

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 1rem; /* Optional: Adds some padding on smaller screens */
}

.hero-wrapper {
  width: 100vw; /* Full viewport width */
  margin-left: calc(-50vw + 50%); /* Centers the full-width background */
  background-color: #1e1e1e;
  background-image: url('../assets/hero-bg1.jpeg');
  background-position: center;
  background-size: cover;
  position: relative; /* For layering */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #121212;
  color: #ffffff;
}


.App{
  text-align: center;
}

.App-header {
  background-color: #1e1e1e;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;

}

