.movie-details-page {
  background-color: #121212;
  color: #fff;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
}

.logo {
  color: #ffc107;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

nav input {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 5px;
}

.back {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  
  gap: 30px;
  padding: 20px;

  width: 1360px; /* Full width by default, resizes responsively */
    margin-left: auto; /* Center it horizontally */
    margin-right: auto;
}

.poster img {
  width: 450px;
  height: 660px;
  object-fit: cover;
  border-radius: 8px;
}

.details h1 {
  font-size: 32px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.play, .favorite {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.plot {
  color: #aaa;
}

.person {
  display: flex;
  align-items: start;
  gap: 10px;

}

.person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cast-list {
  display: flex;
  gap: 20px;
}

.reviews {
  padding: 20px;
}

.review-form {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 1360px; /* Max width on large screens */
  width: 100%; /* Full width by default, resizes responsively */
  margin-left: auto; /* Center it horizontally */
  margin-right: auto;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  cursor: pointer;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 80px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}


